body {
	background-image: url('images/background.jpg'); 
	background-attachment: fixed;
	background-size: 100%;
	color: white;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
}

body h1 {
	text-align: center;
}

a {
	text-decoration: underline;
	color: white;
}

a:hover {
	color: #305785;
	background-color: inherit;
}

p {
	color:white;
}

#mainContent {
	background-color: #032969;
	margin-right:20%;
	margin-left:20%;
	padding-right: 1px;
	padding-left: 1px;
	padding-top:7px;
	padding-bottom: 15px;
	border: solid;
}

#Curry {
	padding-left:343px;
	margin-top:0;
}

#Logo{
	margin-left:10px;
	margin-top:-317px;
	padding-top:0;
	float: left;
}

#navBar {
	width:100%;
	overflow: hidden;
}


nav ul li {
	display: inline;
	font-size:15px;
}

nav ul {
	padding-left: 230px;
	margin-left: 0;
	background-color: #9E0F00;
	color: White;
	float: left;
	width: 100%;
	margin-top: 0;
	padding-top: 0;
}

nav ul li a {
	padding: 0.2em 1em;
	background-color: #9E0F00;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

nav ul li a:hover {
	background-color: #CC2B31;
	color: #fff;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}


#news1 {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding: 5px;
	border-color: black;
}

#news2{
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
}

#east {
	padding-left: 200px;

}
#west {
	padding-left: 500px;
	margin-top: -353px;

}